

 



#quiz {
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 5px;
  color: #2f363e;
  
}

#quiz:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.quiz-started {
  padding: 10px;
}





#quiz-body {
  padding: 15px;
}

#quiz-body h1 {
  text-align: center;
  font-size: 22px;
  color: #444;
  font-weight: 700;
  margin: 0;
}

#progress-container {
  background-color: #eee;
  height: 6px;
  border-radius: 50px;
  text-align: left;
  position: relative;
  margin-bottom: 12px;
}

#progress {
  width: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eee),
    to(#341f97)
  );
  
  border-radius: 50px;
  display: inline-block;
  height: inherit;
  position: absolute;
  -webkit-transition: 0.75s width;
  -o-transition: 0.75s width;
  transition: 0.75s width;
  background-color: #eee;
}

#stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#stats p {
  margin: 0;
  font-size: 10px;
  text-align: right;
  background-color: #fff;
  border: #341f97 1px solid;
  border-radius: 10px;
  padding: 10px;
  color: #341f97;

}

#stats span {
  color: white;
  
}

#answers h2 {
  margin: 20px 0;
  color: white;
  font-size: 14px;
  text-align: right;
  padding: 20px;
 
  border-radius: 10px;
 
}

.answer {
  padding: 10px;
  background-color: white;
}

.answer-number {
  display: inline-block;
  margin-right: 3px;
  border-top-left-radius: 5px;
  font-weight: 700;
  border-bottom-left-radius: 5px;
}

label {
  display: block;
  width: 100%;
  padding: 20px 3px;
  background-color: #fff;
  border: #341f97 1px solid;
  border-radius: 10px;
  color: #341f97;
  font-size: 14px;
  -webkit-transition: 0.2s background-color;
  -o-transition: 0.2s background-color;
  transition: 0.2s background-color;
  text-align: right;
}

input[type="radio"]:hover:not(:disabled) + label {
  background-color: #341f97;
  color: #fff;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#notification {
  margin: 10px auto;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

#notification p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

#results {
  padding: 20px;
  
}

#results h2 {
  font-size: 30px;
}

#results h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#percentage {
  font-size: 45px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
  margin-bottom: 35px;
}






.tag {
  display: inline-block;
  padding: 3px;
  background-color: #03a9f4;
  color: #2f363e;
  border-radius: 5px;
  border-bottom: 1px solid #0288d1;
  font-size: 14px;
}

button {
  display: block;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 50px;
}

.blue-btn {
  background-color: #341f97;
}

.blue-btn:hover {
  background-color: #341f97;
}

.blue-btn:active,
.blue-btn:focus {
  background-color: #341f97;
}

/* Utility classes */
.text-center {
  text-align: center;
  background-color: #341f97;
  color: white;
}
.bold {
  font-weight: 700;
}
.rounded-corners {
  border-radius: 50px;
}
.display-block {
  display: block;
}



.red-bg {
  background-color: #f8d7da;
  color: #842029;
  border-color: #842029;
}
.green-bg {
  background-color: #d1e7dd;
  color: #0f5132;
  border-color: #0f5132;
  
}

#start-quiz-btn {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

#next-btn,
#show-results-btn {
  margin: 0 auto;
  padding: 10px 25px;
}

#shortcuts-info-btn {
  display: none;
}

#start-over-btn {
  margin: 0 auto;
  padding: 10px 25px;
  margin-top: 25px;
}

@media (min-width: 576px) {
  .quiz-intro {
    max-width: 50%;
  }
  .quiz-started {
    max-width: 80%;
  }
  #notification {
    max-width: 50%;
    margin: 15px auto;
  }
  .answer {
    display: inline-block;
    width: 50%;
  }

  #shortcuts-info-btn {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 5px 10px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #aaa;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 1;
  }
  #shortcuts-info-btn:hover {
    background-color: #888;
  }

  #shortcuts-info-btn:active {
    background-color: #555;
  }
}

@media (min-width: 768px) {
  .quiz-intro {
    max-width: 30%;
  }
  .quiz-started {
    max-width: 60%;
  }
  #notification {
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .quiz-intro {
    max-width: 25%;
  }
  .quiz-started {
    max-width: 60%;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .quiz-intro {
    max-width: 20%;
  }
  .quiz-started {
    max-width: 40%;
  }
  #notification {
    max-width: 20%;
  }
}