@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/vector-may-2021-55.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	
	place-items: center;
}

.container
{
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 80%;
  /*background-color: #fff;*/
  border-radius: 10px;
  padding: 30px;
  text-align: right;
  box-shadow: #1f83f2;
  justify-content: center;
  align-items: center;
}
.container h3
{
  color: #eee;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}
.container .list
{
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 2px solid #eee;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  margin: 20px 0;
  padding: 15px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
/* background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
}



.container .list:hover
{
  background: #fff;
  color: #5846f9;

}
/*{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #eee;
  color: #fff;
  border-radius: 22.5px;
  
  
  
}*/
.container .list:hover::before
{
  width: 100%;
}
.container .list .rank
{
  position: relative;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  color: #5846f9;
}
.container .list .rank::before
{
  content: '';
  position: absolute;
  top: 7px;
  width: 30px;
  height: 30px;
  
  border-radius: 30px;
  transform: scale(0);
  transition: 0.5s;
  text-align: center;
}
.container .list:hover .rank::before
{
  transform: scale(1);
}
.container .list .rank img
{
 width: 30px;
 height: 30px;
 justify-content: center;
 align-items: center;
 border: #fff solid 1px;
 border-radius: 30px;
}
.container .list .creator
{
  position: relative;
  line-height: 1.15em;
}
.container .list .creator h4
{
  font-weight: 300;
  color: #fff;
  transition: 0.5s;
  justify-content: center;
  padding-top: 10px;
  
}
.container .list .creator p
{
  font-weight: 400;
  background: #fff;
  color: #5846f9;
  font-size: 0.85em;
  transition: 0.5s;
}
.container .list:hover .creator h4,
.container .list .creator p
{
  color: #5846f9;
}